{% extends "base.html" %}

{% block content %}
    <h1 class="display-4">Добро пожаловать на главную страницу!</h1>
    <p class="lead">Это главная страница моего сайта.</p>
    <p>Здесь вы найдете полезную информацию и новости.</p>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Почему именно наш сайт?</h5>
            <p class="card-text">
                Мы предлагаем актуальную информацию и удобный интерфейс для наших пользователей.
            </p>
        </div>
    </div>
{% endblock %}